extends layout

block content
    a(href="go", title="title") Back to main
    br
    h1 Project #{project.projectName} 
    if project.authorName
        h3 Created by #{project.authorName}
    br
    if project.note
        form(action="changeProject", method="post")
            label(for="note") Note
                input#note(type="text", name="note", value=project.note)
            input(type="hidden", name="type", value="note")
            input(type="hidden", name="authorName", value=project.authorName)
            input(type="hidden", name="projectName" value=project.projectName)
            input(type="submit", value="UPD")
    else 
        form(action="changeProject", method="post")
            label(for="note") Note
                input#note(type="text", name="note")
            input(type="hidden", name="type", value="note")
            input(type="hidden", name="authorName", value=project.authorName)
            input(type="hidden", name="projectName" value=project.projectName)
            input(type="submit", value="UPD")
    br
    include projectTools/db.pug        
    br 
    include projectTools/hosting.pug
    br
    include projectTools/mail.pug
    br
    include projectTools/www.pug
    br
    include projectTools/other.pug