extends layout

block content
    a(href="go", title="title") Back to main
    br
    h1 Project #{project.projectName} 
    if project.authorName
        h3 Created by #{project.authorName}
    br
    if project.note
        form(action="changeProject", method="post")
            label(for="note") Note
                input#note(type="text", name="note", value=project.note)
            input(type="submit", value="UPD")
    else 
        form(action="changeProject", method="post")
            label(for="note") Note
                input#note(type="text", name="note")
            input(type="submit", value="UPD")
    br
    if project.types.dbs
        h3 DB
        each db in project.types.dbs
            form(action="changeProject", method="post")
                input(type="hidden", name="type", value="db")
                input(type="hidden", name="authorName", value=project.authorName)
                input(type="hidden", name="projectName" value=project.projectName)
                label(for="db-login") Login
                    input#db-login(type="text", name="db-login", value=db.login)
                br
                label(for="db-password") Password
                    input#db-password(type="text", name="db-password", value=db.password)
                br
                label(for="db-port") Port
                    input#db-port(type="text", name="db-port", value=db.port)
                br
                label(for="db-note") Note
                    input#db-note(type="text", name="db-note", value=db.note)
                input(type="submit", value="UPD")
    else
        h3 DB
        form(action="changeProject", method="post")
            input(type="hidden", name="type", value="db")
            input(type="hidden", name="authorName", value=project.authorName)
            input(type="hidden", name="projectName" value=project.projectName)
            label(for="db-login") Login
                input#db-login(type="text", name="db-login")
            br
            label(for="db-password") Password
                input#db-password(type="text", name="db-password")
            br
            label(for="db-port") Port
                input#db-port(type="text", name="db-port")
            br
            label(for="db-note") Note
                input#db-note(type="text", name="db-note")
            input(type="submit", value="UPD")                